/* CSS for the main slide-bar */
.sidebar-desktop {
    width: 200px;
    min-height: 100vh;
}

@media (min-width: 992px) {
    .main-with-sidebar {
        margin-left: 180px;
    }
}

/* CSS for the on page buttons */
.button-group {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 12px;
}

/* CSS for Student Form page */
.student-form {
    border: 2px solid #414247;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.student-form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CSS for PAC Form page */
.pac-form {
    border: 2px solid #414247;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.pac-form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CSS for Student Record page */
.student-records {
    border: 2px solid #414247;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.student-records {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}