/* CSS for the main slide-bar - desktop only */
@media (min-width: 992px) {
    .sidebar-desktop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        overflow-y: auto;
        z-index: 1050;
    }

    .col.p-4 {
        margin-left: 250px;
    }
}



/* CSS for top Nav Bar */
.top-nav-bar {
    position: relative;
    z-index: 100;
    background-color: #054676;
}

/* CSS for the on page buttons */
.button-group {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 12px;
}

/* CSS for Student Form page */
.student-form {
    border: 2px solid #414247;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.student-form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CSS for PAC Form page */
.pac-form {
    border: 2px solid #414247;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.pac-form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CSS for Student Record page */
.student-records {
    border: 2px solid #414247;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.student-records {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


/* Basic Text CSS if needed */
.text-justify-custom {
    text-align: justify;
}

