{% extends 'base.html' %}

    {% block title %}Pace Academy{% endblock %}
    {% block header %}Welcome to Pace Academy Home Page{% endblock %}

    {% block content %}
        <!-- Insert page contents here -->
            

        <div class="row mb-4">

            <div class="col-lg-5 col-12 col-md-8 container-fluid">
                <img src="..\static\images\Pace_Academy_Home_Page_Hero.webp" class="img-fluid" alt="Pace Academy Hero image">
            </div>

            <div class="col-lg-7 col-14 col-md-10 container-fluid">
                <p class="text-justify-custom pt-4" style="color: #054676;">
                <strong>Welcome to PaceAcademy!</strong>
                </p>
                <p class="text-muted text-justify-custom pt-2"> 
                Here, Personal Academic Coaches (PACs) will be able to assign students
                to their corresponding PAC's whilst also keeping up-to-date with scheduled meetings. Everything
                is combined within one place to keep communication streamline and simple.
                </p>
            </div>

            <div class="container-fluid pt-4 d-block">
                <img class="w-100" src="..\static\images\Pace_Academy_Home_Page_Banner.webp" alt="Home Page Banner" style="height: 200px; object-fit: cover;">
            </div>

            <div class="container-fluid">
                <div class="cards-row">
                    <div class="card-type">
                        <div class="icon-circle">
                            <!-- Student icon -->
                            <img class="rounded-circle img-fluid" src="..\static\images\Students_Icon.webp" alt="Student Icon">
                        </div>
                        <div class="container-fluid pb-3">
                            <h5 class="card-title">Student Portal</h5>
                            <p class="card-text">
                                View the student database to create, read, update and delete records, and view what PAC they are assigned to. 
                            </p>
                        </div>
                        <div class="container-fluid">
                            <button type="button" href="#" class="button-pa">View Students</button>
                        </div>
                    </div>
                    <div class="card-type">
                        <div class="icon-circle">
                            <!-- Pac icon -->
                            <img class="rounded-circle img-fluid" src="..\static\images\PACs_Icon.webp" alt="PAC Icon">
                        </div>
                        <div class="container-fluid pb-4">
                            <h5 class="card-title">PAC Portal</h5>
                            <p class="card-text">
                                View the PAC database to create, read, update and delete records.
                            </p>
                        </div>
                        <div class="container-fluid">
                            <button href="#" class="button-pa">View PACs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}