{% extends 'base.html' %}

    {% block title %}Pace Academy{% endblock %}
    {% block header %}Welcome to Pace Academy Home Page{% endblock %}

    {% block content %}
        <!-- Insert page contents here -->
        <div class="text-muted small">
            Welcome to PaceAcademy! Here Personal academic coaches (PACs) will be able to assign students
            to their personal academic coaches and keep up-to-date with scheduled meetings. Everything
            is all combined within the one place to keep things streamlined for communication whilst
            keeping it simple.
        </div>
    {% endblock %}